<!DOCTYPE html>
<html>
	<head>
		{% block head %}
		{% endblock %}
		<link rel="stylesheet" type="text/css" href={{url_for('static', filename='styles/side.css')}}>
	</head>

	<body>
		{#<header><a href="/index">Index</a></header>#}
		
		<div class="sidebar">
			<a href="/">Index</a>
			<a href="/time_viewer">Time Viewer</a>
			<a href="/time_tracker">Time Tracker</a>
			<a href="/calendar">Calendar</a>
		</div>

		<main> {% block body %}{% endblock %} </main>
		
		{#<footer>Footer: <a href="/index">Home</a></footer>#}
	</body>
</html>
