{% extends "base.html" %}

{% block head %}
	<title>Fantasy Time Tracker</title>
	<link rel="stylesheet" type="text/css" href={{url_for('static', filename='styles/base.css')}}>
{% endblock %}

{% block body %}

<p>
This is Fantasy Time Tracker.
Use the sidebar to get to different views.
</p>

<p>
Viewer visualises current time and setting.
</p>

<p>
Tracker is used for setting the current time and scene and to add events that move the time forward.
</p>

<p>
Calendar is for getting list of past events.
</p>

{% endblock %}
