body {
	background-color: #202020;
	color: lightgrey;
}

img {
	max-width: 95%;
}


table {
	border-collapse: collapse;
}

table, th {
	border-top: 2px solid #101010;
	border-bottom: 2px solid #101010;
}

tr:nth-of-type(even) {
	background-color:#1f2f1f
}

textarea {
	color:#f0f0f0;
	background-color:#303030;
	height:500px;
	width:90%;
}

a:link {
	color: #668cff;
}

a:visited {
	color: #8c66ff;
}

a:hover {
	color: #809fff;
}

a:active {
	color: #809fff;
}